gcsfs
mlflow
fastapi
uvicorn[standard]
scikit-learn
xgboost
joblib
pandas
numpy
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
shap
fairlearn
locust
evidently
dvc[gs]
pytest
httpx